<!DOCTYPE html>
<html>
  <head>
    <title>RailsDaytrip</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= link_to "Skip to main content", "#main-content", class: "visually-hidden-focusable" %>


  <header>
    <%= render "shared/navbar" %> <!-- 👈 Add this for navbar -->
  </header>
  

  <main id="main-content">
    <%= yield %>
  </main>
  <footer class="py-4">
    <div class="container text-center">
      <p class="mb-2">&copy; 2025 Daytrip. All rights reserved.</p>
      <%= link_to "Log In", new_user_session_path, class: "btn btn-outline-primary btn-sm m-2" %>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-outline-primary btn-sm m-2" %>
    </div>
  </footer>
  <%= render "shared/flashes" %>


  </body>


</html>
